/* main.css: CSS for main elements */

/* Styling */
body {
    margin:0.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.center-container {
    display: flex;
    justify-content: center;
}

.individual-displays {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-and-caption {
    display:flex;
    flex-direction:column;
    align-items:center;
}

input[type="text"]
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}