#main-app {
    touch-action: manipulation;
    -webkit-touch-callout: none;
    /* -webkit-text-size-adjust: none; */
    /* -webkit-user-select: none;    
    user-select: none; */
    /* height: 100%;
    width: 100%; */
}
button {
    transition-duration: 0.4s;
}
.del-button:hover {
    background-color: whitesmoke;
    color: red;
}
button:hover {
    background-color: black;
    color: whitesmoke;
}
.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.del-button {
    border: 1vh solid red;
    border-radius: 1vh;
    background-color: red;
    color: whitesmoke;
    padding: 1vh;
    cursor: pointer;
}
.transmit-button {
    border: 1vh solid black;
    border-radius: 1vh;
    background-color: black;
    color: whitesmoke;
    padding: 1vh;
    cursor: pointer;
}
.transmit-button:hover {
    background-color: whitesmoke;
    color: black;
}
button {
    border: 0.5vw solid black;
    border-radius: 1vw;
    background-color: whitesmoke;
    color: black;
    padding: 0.5vw;
    cursor: pointer;
}
.inputarea {
    border: 1vw solid black;
    border-radius: 1vw;
    overflow: auto;
    resize: both;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    touch-action: none;
}
.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 3vh;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-weight: bold;
    font-size: 5vh;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.visFeedback {
    opacity:0.5;
}
.greatFeedback {
    opacity:0;
}
.cal-letter-container {
    display:none;
}
input.dit-ind {
    font-size: 3vh;
    width: 3em;
}
.help-content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.light-container {
    height: 20vh;
    width: 10vh;
    margin: 1vh;
}

#light {
    border: 0.2vh solid black;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    margin-top: 2vh;
}